.successRow {
  color: green;
}
.failedRow {
  color: red;
}

.resolvedModal {
  min-width: 700px !important;
}
.faultModal {
  min-width: 600px !important;
}

.table {
  margin-top: 20px;
}

.descriptionFault {
  margin-top: 20px;
}

.attention {
  font-size: 16px;
  color: red;
}
